.label {
    -fx-background-color: #FFCBC1;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: #333333;
    -fx-padding: 20px;
}

.reply-label {
    -fx-background-color: #BFFCC6;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: #333333;
}

.list-label {
    -fx-background-color: #A3C4FF;
    -fx-text-fill: #1A1A1A;
}

.todo-label {
    -fx-background-color: #FFF7A8;
    -fx-text-fill: #333333;
}

.deadline-label {
    -fx-background-color: #B0E0FF;
    -fx-text-fill: #1A1A1A;
}

.event-label {
    -fx-background-color: #FFB3FF;
    -fx-text-fill: #1A1A1A;
}

.mark-label {
    -fx-background-color: #A0FFD9;
    -fx-text-fill: #1A1A1A;
}

.unmark-label {
    -fx-background-color: #FFBFA0;
    -fx-text-fill: #1A1A1A;
}

.delete-label {
    -fx-background-color: #D6A0FF;
    -fx-text-fill: #1A1A1A;
}

.find-label {
    -fx-background-color: #FFEFA0;
    -fx-text-fill: #1A1A1A;
}

.hello-label {
    -fx-background-color: #A0FFD6;
    -fx-text-fill: #1A1A1A;
}

.error-label {
    -fx-background-color: #FF9FA0;
    -fx-text-fill: #1A1A1A;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

